@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*{
  font-family: 'Jost', sans-serif;
}
html, body{
  scroll-behavior: smooth;
  scrollbar-color: #f77683 #fff;
}
.user-card{
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-avatar{
  border-radius: 5.75rem;
  width: 80px;
  text-align: center;
}
.loader{
  width: 300px;
}

/* #282c34 */
/* #09d3ac */