.user-card{
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-avatar{
  border-radius: 5.75rem;
  width: 80px;
  text-align: center;
}

/* #282c34 */
/* #09d3ac */